.navbar
  .navbar-inner
    .container
      %h1
        - if user_signed_in?
          = t(".signed_in_as")
          = link_to current_user.full_name, edit_user_registration_path
          = t(".not_you")
          = link_to t(".sign_out"), destroy_user_session_path, method: :delete
        - else
          = link_to t(".sign_up"), new_user_registration_path
          = t(".or")
          = link_to t(".sign_in"), new_user_session_path
