%p= t(".hello_email", :email => @resource.email)
%p= t(".change_password_link_text")
%p= link_to t(".change_my_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t(".ignore_email_text")
%p= t(".password_changing_explanation")
